<!DOCTYPE html>
<html>
    <head>
        <title> Simple Blog </title>
        <script src="mithril/mithril.js"></script>
        <script src="app.js"></script>
    </head>
    <body>
    </body>
</html>
